<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.galleryboard.mapper.BoardMapper">


	<sql id="BoardCol">
		idx,
		title,
		content,
		writer,
		view_cnt,
		delete_yn,
		insert_time,
		update_time,
		delete_time,
		title_img
	</sql>
	
	<insert id="insertBoard" parameterType="Board" useGeneratedKeys="true" keyProperty="idx">
		INSERT INTO tb_board(
					<include refid="BoardCol" />
					)VALUES(
					#{idx},
					#{title},
					#{content},
					#{writer},
					0,
					'N',
					NOW(),
					NULL,
					NULL,
					#{titleImg}
					)
	</insert>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE 	tb_board 
		SET 	title = #{title},
				content = #{content},
				update_time = NOW(),
				title_img = #{titleImg}
		WHERE 	idx = #{idx}
	</update>
	
	<select id="selectBoardDetail" parameterType="long" resultType="Board">
		SELECT 	<include refid="BoardCol" />
		FROM 	tb_board
		WHERE 	delete_yn = 'N'
		AND 	idx = #{idx}
	</select>
	
	<update id="deleteBoard" parameterType="long">
		UPDATE 	tb_board
		SET 	delete_yn = 'Y',
				delete_time = NOW(),
		WHERE 	idx = #{idx}
	</update>
	
	<select id="selectBoardList" parameterType="Board" resultType="Board">
		SELECT 		<include refid="BoardCol" />
		FROM 		tb_board
		WHERE 		delete_yn = 'N'
		ORDER BY 	idx DESC, 
					insert_time DESC
	</select>
	
	<select id="selectBoardTotalCount" parameterType="Board" resultType="int">
		SELECT 	IFNULL(count(*),0)
		FROM 	tb_board
		WHERE 	delete_yn = 'N'
	</select>
	
	<update id="setTitleImg">
		UPDATE 	tb_board
		SET 	title_img = #{titleImg}
		WHERE 	idx=#{idx}
	</update>
	
</mapper>